/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ABC 0 // Maya

// #define EXT 1
// #define SYM 2
// #define NUM 3
// #define FUN 4
// #define SYS 5

/ {
    keymap {
        compatible = "zmk,keymap";

        ABC {
            // -----------------------------------------------------------------------------------------
            // |  B  |  L  |  D  |  G  |  Q  |     |  J  |  F  |  O  |  U  |  '  |
            // |  N  |  R  |  T  |  S  |  V  |     |  K  |  H  |  A  |  E  |  I  |
            // |  X  |  M  |  C  |  W  |  Z  |     |  P  |  Y  |  ,  |  .  |  ;  |
            //             | NUM |SHIFT| EXT |     | SYM | SPC | FUN |

            bindings = <
&none  &kp B  &kp L  &kp D  &kp G       &kp Q    &kp J  &kp F      &kp O      &kp U    &kp APOS  &none
&none  &kp N  &kp R  &kp T  &kp S       &kp V    &kp K  &kp H      &kp A      &kp E    &kp I     &none
&none  &kp X  &kp M  &kp C  &kp W       &kp Z    &kp P  &kp Y      &kp COMMA  &kp DOT  &kp SEMI  &none
                     &none  &kp LSHIFT  &none    &none  &kp SPACE  &none
            >;
        };
    };
};
